<h3>PETS INDEX</h3>

<% @pets.each do |pet| %>
  <section id="pet-<%= pet.id %>">
    <%= image_tag(pet.image, size: "200x200") %></br>
    Name: <%= pet.name %></br>
    Age: <%= pet.age %></br>
    Gender: <%= pet.sex %></br>
    Belongs to: <%= pet.shelter.name %></br></br>
  </section>
<% end %>