<h3><%= @pet.name.upcase %>'S SHOW PAGE</h3>

<section class='pet-info'>
  <%= image_tag(@pet.image, size: "200x200") %></br>
  Description: <%= @pet.description%></br>
  Age: <%= @pet.age%></br>
  Gender: <%= @pet.sex%></br>
  Adoption Status: <%= @pet.status%>
</section>

<%= link_to "Update Pet", "/pets/#{@pet.id}/edit" %>
<%= link_to "Delete Pet", "/pets/#{@pet.id}", method: :delete %>

